{% extends "todolist/base.html" %}

{% block title %}Create new task{% endblock %}

{% block body %}
<div>
	{% comment %}<form action="{% url 'create_task' %}" method="post">{% endcomment %}
		{% comment %}{% csrf_token %}{% endcomment %}
		{% comment %}<label for="name">Task name: </label>{% endcomment %}
		{% comment %}<input type="text" name="name" required autofocus>{% endcomment %}
		{% comment %}<label for="deadline">Deadline: </label>{% endcomment %}
		{% comment %}<input type="date" name="deadline">{% endcomment %}
		{% comment %}<label for="description">Description</label>{% endcomment %}
		{% comment %}<input type="type" name="description">{% endcomment %}
		{% comment %}<button type="submit">Create</button>{% endcomment %}
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Create">
	</form>
</div>
{% endblock %}
