{% extends "todolist/base.html" %}

{% block title %}Create new task{% endblock %}

{% block body %}
<div>
	<form method="POST">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group mb-3 row">
				<label class="control-label col-1" for="{{ field.id_for_label }}">{{ field.label }}</label>
				<div class="col-11">
					{{ field }}
				</div>
			</div>
		{% endfor %}
		<div class="text-center">
			<input class="btn btn-success col-1" type="submit" value="Create">
		</div>
	</form>
</div>
{% endblock %}
