{% extends "todolist/base.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<div>
	<h2>Tasks</h2>
	<ul>
	{% for task in tasks %}
	<li class="card mt-2">
		<div class="d-flex flex-row justify-content-between">
			<div class="flex-item">
				<a href="{% url 'task' task.id %}">{{ task }}</a>
			</div>
			<div class="flex-item">
				{% comment %}Progress-bar{% endcomment %}
				Progress - {{ task.estimated_progress }}%
			</div>
		</div>
	</li>
	{% endfor %}
	</ul>
	<a href="{% url 'create_task' %}"><strong>Create new task<strong></a>
</div>
{% endblock %}
