{% extends "todolist/index.html" %}

{% block title %}Subtask list{% endblock %}

{% block body %}
<div>
	<h2>Subtasks list for <a href="{% url 'task' task.id %}">{{ task.name }} - {{ task.id }}</a></h2>
	<ul class="mt-4">
		{% for subtask in object_list %}
		<li class="container card mt-2">
		<div class="d-flex flex-row justify-content-between">
			<div class="flex-item mt-1">
				<p><a href="{% url 'update_subtask' subtask.id %}">{{ subtask.name }} - {{ subtask.progress_score }}</a></p>
			</div>
			<div class="flex-item row">
				<div class="col-auto">
					<form action="{% url 'delete_subtask' subtask.id %}" method="post">
						{% csrf_token %}
						<button class="btn btn-danger">Delete</button>
					</form>
				</div>
				<div class="col-auto">
					<form action="{% url 'complete_subtask' subtask.id %}" method="post">
						{% csrf_token %}
						<button class="btn btn-success">Complete</button>
					</form>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	<a href="{% url 'create_subtask' task.id %}">Create new subtask</a>
</div>
{% endblock %}
